.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 15px 5px;
    min-height: 25vh;
    width: 14vw;
  }
  
  .forecast-date {
    font-size: 22px;
    color: var(--grey);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .forecast-divider {
    min-height: 25vh;
    width: 3px;
    background-color: #ccc;
  }
  
  .max-forecast {
    font-size: 30px;
    color: var(--grey);
  }
  .min-forecast {
    font-size: 18px;
    color: var(--grey);
  }

  .forecast-wind {
    margin-top: 15px;
    font-size: 18px;
    color: var(--grey);
    text-align: center;
  }