  .App-header {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    background-color: var(--dark-blue);
  }
  
  .title {
    color: #fff;
    padding: 2vh 0vw 2vh 2vw;
  }
  
  form {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 1vh;
  }
  
  .search {
    width: 80vw;
    height: 38px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px 8px;
    border: none;
    flex: 11;
    border-radius: 5px;
  
  }
  
  input:focus {
    outline: none;
  }
  
  .submit {
    height: 42px;
    margin: 0 0 0 -5px;
    flex: 1;
    font-weight: bold;
    color: var(--grey);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: var(--light-blue);
  }

  .saved-container {
    display: flex;
    align-self: flex-start;
    align-items: flex-end;
    margin: 0 0 1vh 10vw;
  }

  .saved-text {
    color: #fff;
    font-size: 18px;
    padding-bottom: 1px;
  }

  .saved-btn {
    background: none;
    color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    margin-left: 1vw;
    font-size: 18px;
  }

  .saved-btn:hover {
    color: var(--highlight-blue);
  }