:root {
  --dark-blue: #3D5A80;
  --light-blue: #afd7ff;
  --highlight-blue: #6b8cb8;
  --grey: #3a3a3a;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
